ldsoap/wadl.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<grammars/>
	<resources base="https://10.0.1.6:8443/DomoBox/rs">
		<resource path="/session">
			<resource path="/code">
				<method name="GET">
					<response>
						<representation mediaType="text/plain;charset=UTF-8">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
						<representation mediaType="application/json;charset=UTF-8">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/history">
			<resource path="/export">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="from_date" style="query" type="xs:string"/>
						<param name="to_date" style="query" type="xs:string"/>
						<param name="granularity" style="query" type="xs:string">
							<option value="PER_MINUTE"/>
							<option value="PER_HOUR"/>
							<option value="PER_DAY"/>
							<option value="PER_WEEK"/>
							<option value="PER_MONTH"/>
							<option value="QUARTERLY"/>
							<option value="PER_SEMESTER"/>
							<option value="PER_YEAR"/>
						</param>
					</request>
					<response>
						<representation mediaType="application/octet-stream"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/AVRecording">
			<resource path="/getFileContent">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="target_key" style="query" type="xs:string"/>
						<param name="recording_key" style="query" type="xs:string"/>
						<param name="file_id" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/octet-stream"/>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/Account">
			<resource path="/ExportTranslationXML">
				<method name="GET">
					<request>
						<param name="lang_clsid" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json;charset=UTF-8"/>
					</response>
				</method>
			</resource>
			<resource path="/uuid">
				<method name="GET">
					<response>
						<representation mediaType="application/json;charset=UTF-8">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/Mobile">
			<resource path="/ApplyMobilePicture">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="picture_key" style="query" type="xs:string"/>
						<param name="room_key" style="query" type="xs:string"/>
						<param name="type" style="query" type="xs:string">
							<option value="MOBILE"/>
							<option value="PROJECT"/>
							<option value="ALL_PROJECTS"/>
						</param>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/CancelMobilePicture">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="room_key" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/ClearAndroidNotificationDataBase">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/ExecuteAction">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="target_key" style="query" type="xs:string"/>
						<param name="prop_clsid" style="query" type="xs:string"/>
						<param name="action_clsid" style="query" type="xs:string"/>
						<param name="prop_numr" style="query" type="xs:int"/>
						<param name="descriptor" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:boolean"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/GetActionTranslations">
				<method name="GET">
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/GetAlarmFaultObjectList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="access_code" style="query" type="xs:string"/>
						<param name="category" style="query" type="xs:string">
							<option value="OPEN_ENTRANCE"/>
							<option value="SELF_PROTECTIONS"/>
							<option value="OTHERS"/>
							<option value="INHIBITIONS"/>
						</param>
						<param name="count" style="query" type="xs:int"/>
						<param name="rowIndex" style="query" type="xs:int"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetAlarmFaultsStatistics">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="access_code" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetAlarmHistoryObjectList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="access_code" style="query" type="xs:string"/>
						<param name="category" style="query" type="xs:string">
							<option value="ALL"/>
							<option value="ON_OFF"/>
							<option value="WITHOUT_ON_OFF"/>
							<option value="UNACKNOWLEDGED"/>
						</param>
						<param name="count" style="query" type="xs:int"/>
						<param name="rowIndex" style="query" type="xs:int"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetAlarmeAccessLevel">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="access_code" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetAlertLogs">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="start_index" style="query" type="xs:int"/>
						<param name="count" style="query" type="xs:int"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetBookmarks">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_list" style="query" type="xs:string"/>
						<param name="group_list" style="query" type="xs:string"/>
						<param name="scenario_list" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetCameras">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="all" style="query" type="xs:boolean"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetCategories">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="room_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetCategoriesTranslations">
				<method name="GET">
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/GetConsumptions">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetDeviceInstantane">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="instant_type" style="query" type="xs:string">
							<option value="CURRENT_ELEC"/>
							<option value="POWER_ELEC"/>
							<option value="POWER_GAZ"/>
						</param>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetDeviceState">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetDeviceTranslations">
				<method name="GET">
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/GetDevices">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="room_key" style="query" type="xs:string"/>
						<param name="category_clsid" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetDevicesFromCatg">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="category_clsid" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetGroup">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="group_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetGroups">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetHistValue">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="chart_type" style="query" type="xs:string">
							<option value="hour"/>
							<option value="day"/>
							<option value="week"/>
							<option value="month"/>
							<option value="year"/>
						</param>
						<param name="type" style="query" type="xs:string">
							<option value="elec"/>
							<option value="gas"/>
							<option value="water"/>
							<option value="undef"/>
							<option value="temp"/>
						</param>
						<param name="category" style="query" type="xs:string">
							<option value="total"/>
							<option value="heating"/>
							<option value="cooling"/>
							<option value="domestic_hot_water"/>
							<option value="plug"/>
							<option value="undetermined"/>
							<option value="hot"/>
							<option value="cold"/>
							<option value="indoor"/>
							<option value="outdoor"/>
						</param>
						<param name="date" style="query"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetInstantTypeList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetPicture">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="picture_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetPieChartValue">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="chart_type" style="query" type="xs:string">
							<option value="hour"/>
							<option value="day"/>
							<option value="week"/>
							<option value="month"/>
							<option value="year"/>
						</param>
						<param name="type" style="query" type="xs:string">
							<option value="elec"/>
							<option value="gas"/>
							<option value="water"/>
							<option value="undef"/>
							<option value="temp"/>
						</param>
						<param name="date" style="query"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetRTDataCategoriesList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="type" style="query" type="xs:string">
							<option value="elec"/>
							<option value="gas"/>
							<option value="water"/>
							<option value="undef"/>
							<option value="temp"/>
						</param>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetRTDataTypeList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetRTPageDescriptor">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetRooms">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetRoomsNew">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetScenarios">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetSites">
				<method name="GET">
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetStateTranslations">
				<method name="GET">
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/GetTotalDataValue">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="type" style="query" type="xs:string">
							<option value="elec"/>
							<option value="gas"/>
							<option value="water"/>
							<option value="undef"/>
							<option value="temp"/>
						</param>
						<param name="category" style="query" type="xs:string">
							<option value="total"/>
							<option value="heating"/>
							<option value="cooling"/>
							<option value="domestic_hot_water"/>
							<option value="plug"/>
							<option value="undetermined"/>
							<option value="hot"/>
							<option value="cold"/>
							<option value="indoor"/>
							<option value="outdoor"/>
						</param>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetTranslations">
				<method name="GET">
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetUsers">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetVarunaAlarms">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetVarunaEvents">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/GetVoiceObjects">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/KeepAlive">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/Login">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:string"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/LoginAlertLogs">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginBookmarks">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="device_list" style="query" type="xs:string"/>
						<param name="group_list" style="query" type="xs:string"/>
						<param name="scenario_list" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginCameras">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="all" style="query" type="xs:boolean"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginConsumptions">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginDeviceState">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginDevices">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="room_key" style="query" type="xs:string"/>
						<param name="category_clsid" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginDevicesFromCatg">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="category_clsid" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginExecuteAction">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="target_key" style="query" type="xs:string"/>
						<param name="prop_clsid" style="query" type="xs:string"/>
						<param name="action_clsid" style="query" type="xs:string"/>
						<param name="prop_numr" style="query" type="xs:int"/>
						<param name="descriptor" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:boolean"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/LoginGroup">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="group_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginGroups">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginInfos">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="device_list" style="query" type="xs:string"/>
						<param name="group_list" style="query" type="xs:string"/>
						<param name="scenario_list" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/LoginScenarios">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/NewLoginInfos">
				<method name="GET">
					<request>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="user_key" style="query" type="xs:string"/>
						<param name="password" style="query" type="xs:string"/>
						<param name="device_list" style="query" type="xs:string"/>
						<param name="group_list" style="query" type="xs:string"/>
						<param name="scenario_list" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/RefreshVarunaEvents">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/RegisterNotif">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="phone_id" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="phone_id" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/RegisterNotifIpad2">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="phone_id" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/RegisterNotifPhoneAndroid">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="registration_id" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:boolean"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/RegisterNotifTabletteAndroid">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="registration_id" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:boolean"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/ResetInstantValue">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="type" style="query" type="xs:string">
							<option value="CURRENT_ELEC"/>
							<option value="POWER_ELEC"/>
							<option value="POWER_GAZ"/>
						</param>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/ResetNotif">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="phone_id" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/ResetTotalValue">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="site_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="type" style="query" type="xs:string">
							<option value="elec"/>
							<option value="gas"/>
							<option value="water"/>
							<option value="undef"/>
							<option value="temp"/>
						</param>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosAddAndPlay">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="rincon_uri" style="query" type="xs:string"/>
						<param name="metadata" style="query" type="xs:string"/>
						<param name="num" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosAddFavorite">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="path" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:boolean"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/SonosAddTrackInPlaylist">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="rincon_uri" style="query" type="xs:string"/>
						<param name="metadata" style="query" type="xs:string"/>
						<param name="num" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosDeleteFavorite">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="path" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json">
							<param name="result" style="plain" type="xs:boolean"/>
						</representation>
					</response>
				</method>
			</resource>
			<resource path="/SonosDeleteList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosExplore">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="path" style="query" type="xs:string"/>
						<param name="starting_index" style="query" type="xs:int"/>
						<param name="count" style="query" type="xs:int"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/SonosGetAllGroups">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/SonosGetLineInList">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/SonosGetPlaylist">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/SonosListenEntryStream">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="device_key_src" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosMakeNewGroup">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="devices_keys" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosRemoveTrackFromPlaylist">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="value" style="query" type="xs:int"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosReorderTrack">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="src" style="query" type="xs:int"/>
						<param name="dest" style="query" type="xs:int"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosSetCurrentTrackNumber">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="value" style="query" type="xs:string"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosSetRandom">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="value" style="query" type="xs:boolean"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
			<resource path="/SonosSetRepeat">
				<method name="GET">
					<request>
						<param name="session_key" style="query" type="xs:string"/>
						<param name="device_key" style="query" type="xs:string"/>
						<param name="value" style="query" type="xs:boolean"/>
					</request>
					<response status="204"/>
				</method>
			</resource>
		</resource>
	</resources>
</application>